{% load static %}
<footer class="footer">
    <div class="footer__head">
        <div class="footer__inner inner">
            <div class="footer__wrapper">
                <div class="footer__start">
                    <div class="footer-logo">

                        <img src="{% static '/public/img/gamenotepnglogo.png' %}" alt="" class="footer-logo-img">
                    </div>

                </div>
                <div class="footer__end">


                    <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__menu-top">

                        <a itemprop="url" href="{% url 'core:budget-products' %}" class="footer__menu-top-link"><span itemprop="name">Büdcəli Noutbuklar</span></a>

                        <a itemprop="url" href="{% url 'core:new' %}" class="footer__menu-top-link"><span itemprop="name">Oyun Noutbuklari</span></a>

                        <a itemprop="url" href="{% url 'core:power-products' %}" class="footer__menu-top-link"><span itemprop="name">Güclü Noutbuklar</span></a>

                        <a itemprop="url" href="{% url 'core:games' %}" class="footer__menu-top-link"><span itemprop="name">Oyuna uyğun Noutbuklar</span></a>

                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="footer__body">
        <div class="footer__inner inner">
            <div class="footer__wrapper">
                <div class="footer__start">


                    <ul class="footer__sn" data-cloneMobile="footer__partners">
                        <li class="footer__sn-li">
                            <a href="https://vk.com/club80425418" target="_blank" class="footer__sn-link">
                <svg class="footer__sn-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-vk"></use>
                </svg>
            </a>
                        </li>
                        <li class="footer__sn-li">
                            <a href="https://www.instagram.com/edelweiss_pc/" target="_blank" class="footer__sn-link">
                <svg class="footer__sn-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-insta"></use>
                </svg>
            </a>
                        </li>
                    </ul>


                    <address class="footer__address">Satis Noqtesi:</br>

                        Partnyor Magaza  ICOMP</br>
                        
                        Bulbul 48B (Jale Plaza yani)</br>
                        
                        Tel/Whatsapp: 0775175747</br>
                    </address>
                    
                </div>
                <div class="footer__end">
                    <div class="footer__catalog">
                        <div class="footer__catalog-box js-scroll">
                            <ul class="footer__catalog-list">



                                <li class="footer__catalog-li">
                                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__catalog-category">

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:new' %}" class="footer__catalog-link">Dizaynerər üçün Noutbuklar</a>
                                        </li>


                                        <li itemprop="name" class="footer__catalog-category-li">

                                        <a itemprop="url" href="{% url 'core:new' %}" class="footer__catalog-link">Oyun üçün Noutbuklar</a>

                                        </li>
                                        <li itemprop="name" class="footer__catalog-category-li">

                                            <a itemprop="url" href="{% url 'core:new' %}" class="footer__catalog-link">Video Render üçün Noutbuklar</a>
    
                                            </li>

                                            <li itemprop="name" class="footer__catalog-category-li">

                                                <a itemprop="url" href="{% url 'core:new' %}" class="footer__catalog-link">Foto Render üçün Noutbuklar</a>
        
                                                </li>
                                        


                                    </ul>
                                </li>




                                <li class="footer__catalog-li">
                                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__catalog-category">

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:new' %}?price=2000" class="footer__catalog-link">2000AZN qədər Noutbuklar</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:new' %}?price=3000" class="footer__catalog-link">3000AZN qədər Noutbuklar</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:new' %}?price=4000" class="footer__catalog-link">4000AZN qədər Noutbuklar</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:new' %}?price=5000" class="footer__catalog-link">5000AZN qədər Noutbuklar</a>
                                        </li>

                                    
                                       


                                    </ul>
                                </li>





                                <li class="footer__catalog-li">
                                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__catalog-category">

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:support' %}" class="footer__catalog-link">TEXNİKİ DƏSTƏK</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:delivery' %}" class="footer__catalog-link">ÇATDIRILMA VƏ ÖDƏMƏ</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="{% url 'core:guaranty' %}" class="footer__catalog-link">ZƏMANƏT</a>
                                        </li>


                                    </ul>
                                </li>



                                
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
               
            </div>
            
        </div>
        <div class="footer-partners-instagram">
            <div class="partners-container">
                <div class="partners-title"><span>Partnyorlarimiz</span></div>
                <div class="partners-image">
                    <img src="{% static 'public/logos/acer.png' %}" width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/alienware.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/asus.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/dell.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/legion.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/logitech.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/ms.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/msi.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/predator.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/razer.png" %}' width="100%" height="100%"/>
                </div>
                <div class="partners-image">
                    <img src='{% static "public/logos/rog.png" %}' width="100%" height="100%"/>
                </div>
            </div>  
            <div class="instagram-container">
                <div class="instagram-title"><span class="instagram-title-span">Instagram</span></div>
                <div class="instagram-photos">
                    <img src="https://images.unsplash.com/photo-1626218174358-7769486c4b79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGMlMjBnYW1pbmd8ZW58MHx8MHx8&w=1000&q=80" width="100%" height="100%"/>
                </div>
            </div>  
        </div>
    </div>

                             
   
</footer>