<footer class="footer">
    <div class="footer__head">
        <div class="footer__inner inner">
            <div class="footer__wrapper">
                <div class="footer__start">
                    <div class="footer-logo">

                        <img src="/local/templates/main/img/logo-footer.svg" alt="" class="footer-logo-img">
                    </div>

                </div>
                <div class="footer__end">


                    <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__menu-top">

                        <a itemprop="url" href="/constructor/" class="footer__menu-top-link"><span itemprop="name">Конфигуратор ПК</span></a>

                        <a itemprop="url" href="/nedorogie-pc/" class="footer__menu-top-link"><span itemprop="name">Недорогие ПК</span></a>

                        <a itemprop="url" href="/power-pc/" class="footer__menu-top-link"><span itemprop="name">Игровые ПК</span></a>

                        <a itemprop="url" href="/powerfull-pc/" class="footer__menu-top-link"><span itemprop="name">Мощнейшие ПК</span></a>

                        <a itemprop="url" href="/pc-amd/" class="footer__menu-top-link"><span itemprop="name">ПК на базе AMD</span></a>

                        <a itemprop="url" href="/game/" class="footer__menu-top-link"><span itemprop="name">ПК под игру</span></a>


                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="footer__body">
        <div class="footer__inner inner">
            <div class="footer__wrapper">
                <div class="footer__start">


                    <ul class="footer__sn" data-cloneMobile="footer__partners">
                        <li class="footer__sn-li">
                            <a href="https://vk.com/club80425418" target="_blank" class="footer__sn-link">
                <svg class="footer__sn-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-vk"></use>
                </svg>
            </a>
                        </li>
                        <li class="footer__sn-li">
                            <a href="https://www.instagram.com/edelweiss_pc/" target="_blank" class="footer__sn-link">
                <svg class="footer__sn-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-insta"></use>
                </svg>
            </a>
                        </li>
                    </ul>


                    <address class="footer__address">г. Москва, улица Новопоселковая дом 6 корпус 217, 5-ый этаж, офис 521.</address>
                    <div class="footer__contact">
                        <p class="footer__contact-text">Обработка и прием заказов по телефону:</p>
                        <a href="tel:88002349919" class="footer__contact-tel">8 (800) 234 99 19</a>
                        <p class="footer__contact-time">Пн-Пт: 11:00 - 20:00 </p>
                        <p class="footer__contact-time">Сб-Вс: 12:00 - 18:00</p>
                    </div>
                </div>
                <div class="footer__end">
                    <div class="footer__catalog">
                        <p class="footer__title">Каталог ПК Edelweiss</p>
                        <div class="footer__catalog-box js-scroll">
                            <ul class="footer__catalog-list">



                                <li class="footer__catalog-li">
                                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__catalog-category">

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/tovari/" class="footer__catalog-link">ПЕРИФЕРИЯ ДЛЯ ПК</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/credit-pc/" class="footer__catalog-link">КОМПЬЮТЕРЫ В КРЕДИТ</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/powerfull-pc/" class="footer__catalog-link">ЭКСТРЕМАЛЬНАЯ СЕРИЯ</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/graficheskie-stantsii/" class="footer__catalog-link">ГРАФИЧЕСКИЕ СТАНЦИИ</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/kompyutery-club/" class="footer__catalog-link">КОМПЬЮТЕР ДЛЯ КЛУБОВ</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/photoshop/" class="footer__catalog-link">КОМПЬЮТЕРЫ ДЛЯ ФОТО</a>
                                        </li>


                                    </ul>
                                </li>




                                <li class="footer__catalog-li">
                                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__catalog-category">

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/geforce-16xx/" class="footer__catalog-link">ПК с GEFORCE GTX 16ХХ</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/geforce-3060/" class="footer__catalog-link">ПК с GEFORCE RTX 3060</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/geforce-3070/" class="footer__catalog-link">ПК с GEFORCE RTX 3070</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/geforce-3080/" class="footer__catalog-link">ПК с GEFORCE RTX 3080</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/geforce-3090/" class="footer__catalog-link">ПК с GEFORCE RTX 3090</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/asus-rog/" class="footer__catalog-link">ПК на КОМПОНЕНТАХ ASUS</a>
                                        </li>


                                    </ul>
                                </li>





                                <li class="footer__catalog-li">
                                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__catalog-category">

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/nedorogie-pc/" class="footer__catalog-link">Игровые станции от 30 000</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/pc-100000/" class="footer__catalog-link">Игровые станции от 100 000</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/pc-200000/" class="footer__catalog-link">Игровые станции от 200 000</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/pc-300000/" class="footer__catalog-link">Игровые станции от 300 000</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/pc-500000/" class="footer__catalog-link">Игровые станции от 500 000</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/catalog/" class="footer__catalog-link">Подобрать игровой ПК</a>
                                        </li>


                                    </ul>
                                </li>



                                <li class="footer__catalog-li">
                                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__catalog-category">

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/compyuter-intel-i3/" class="footer__catalog-link">КОМПЬЮТЕРЫ с INTEL CORE i3</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/computer-intel-i5/" class="footer__catalog-link">КОМПЬЮТЕРЫ с INTEL CORE i5</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/computer-intel-i7/" class="footer__catalog-link">КОМПЬЮТЕРЫ с INTEL CORE i7</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/computer-intel-i9/" class="footer__catalog-link">КОМПЬЮТЕРЫ с INTEL CORE i9</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/water-cooling-pc/" class="footer__catalog-link">ПК с ВОДЯНЫМ ОХЛАЖДЕНИЕМ</a>
                                        </li>

                                        <li itemprop="name" class="footer__catalog-category-li">
                                            <a itemprop="url" href="/pc-sli-technology/" class="footer__catalog-link">ПК с ТЕХНОЛОГИЕ NVIDIA SLI</a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__foot">
        <div class="footer__inner inner">
            <div class="footer__wrapper">
                <div class="footer__start">
                    <div class="footer__partners">
                        <p class="footer__title">Наши партнеры</p>
                        <ul class="footer__partners-list">
                            <li class="footer__partners-li"><img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazzyload" src="/upload/uf/3c2/3c28ddf1e910fe3e061998941dc6d063.svg" alt="логотип компании ASUS на сайте EDELWEISS"></li>
                            <li class="footer__partners-li"><img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazzyload" src="/upload/uf/462/462ce9801310ccefb151e0706542087a.svg" alt="логотип компании MSI на сайте EDELWEISS"></li>
                            <li class="footer__partners-li"><img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazzyload" src="/upload/uf/e3c/e3c514fa76c9cd099dbd9e90032990cf.svg" alt="логотип компании NZXT на сайте EDELWEISS"></li>
                            <li class="footer__partners-li"><img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazzyload" src="/upload/uf/dc2/dc28bcacc7a63c2801ffdcfdbf7e6921.svg" alt="логотип компании NVIDIA на сайте EDELWEISS"></li>
                            <li class="footer__partners-li"><img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazzyload" src="/upload/uf/11f/11f3544d7e69edf0fb786d7802e1fa3c.svg" alt="логотип компании CORSAIR на сайте EDELWEISS"></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__end">
                    <p class="footer__title">Instagram</p>
                    <div class="footer__insta">
                        <ul class="footer__insta-list">
                            <li class="footer__insta-li">
                                <a target="_blank" href="https://www.instagram.com/tv/CZjtjVHqGAG/" class="footer__insta-link">
                                    <picture>
                                        <img src="/upload/resize/instagramm/17909487287503867.jpg" alt="Стильный игровой компьютер, зимние цвета, белоснежная система водяного охлаждения. Высокий FPS, достойная производительность, разумная цена, поддержка технологии Reflex и DLSS от Nvidia. 
⠀
Конфигурация: Процессор intel i5 12600K, видеокарта GEFORCE RTX ASUS STRIX 3070 Ti на 8 GB, оперативная память 16 Гб Kingston HyperX Fury RGB 3600Mhz, водяное охлаждение  zoomflow 240 x SNOW , накопитель SSD SAMSUNG 980 PRO 1024 Гб + 2Тб Seagate Barraquda, MB ASUS Z690-Plus, корпус JONSBO U4PLUS Silwer. Компьютеры в наличии и на заказ. Используйте конфигуратор онлайн на сайте для модификации готовых ПК. Программное обеспечение windows 10 Pro Приходите, подскажем и проконсультируем.
⠀
📞 8 (800) 234 99 19
💻https:/edelws.ru
✉️ info@edelws.ru
🚚 Доставка по всей территории России
✔️г. Москва, ул. Новопоселковая д.6 корпус 217 офис 521
EDELWEISS - совершенство для игр!

#игровыепк#edelweiss_pc#мощныепк_игровые_пк#водяное _охлаждение#ASUS#Samsung#NVidia#rtx#GeForce#пк_для_игр" class="footer__insta-img">
                                    </picture>
                                </a>
                            </li>
                            <li class="footer__insta-li">
                                <a target="_blank" href="https://www.instagram.com/p/CUdF02HDhHI/" class="footer__insta-link">
                                    <picture>
                                        <img src="/upload/resize/instagramm/17876678522500914.jpg" alt="Игровой компьютер, в топовом исполнении, создан для настоящих ценителей ПК Gaming. Исключительная производительность, максимальный FPS, поддержка технологии Reflex и DLSS от Nvidia. 
⠀
Конфигурация: Процессор intel i7 11700K, видеокарта GEFORCE RTX ASUS STRIX 3080 Ti на 12 GB, оперативная память 32 Гб Kingston HyperX Fury RGB 3600Mhz, водяное охлаждение NZXT 73, накопитель SSD SAMSUNG 980 PRO 1024 Гб + 4Тб Seagate Barraquda, MB ASUS Z590-F GAMING, корпус Corsair X680. Компьютеры в наличии и на заказ. Используйте конфигуратор онлайн на сайте для модификации готовых ПК. Программное обеспечение windows 10 Pro Стоимость 398 000 рублей. Приходите, подскажем и проконсультируем.
⠀
📞 8 (800) 234 99 19
💻https:/edelws.ru
✉️ info@edelws.ru
🚚 Доставка по всей территории России
✔️г. Москва, ул. Новопоселковая д.6 корпус 217 офис 521
EDELWEISS - совершенство для игр!

#игровыеПК #gaming #гейминг #геймеры #конфигураторпк #пкдляигр  #конфигурацияпк #edelweiss_pc #asus #intel #видеокарта #3080ti #geforce #rtx #nvidia #nzxt #hdd #ssd #psu #блокпитания #мощныйкомпьютер #кастомныйпк #сборкапк #готовыепк #крутойпк #Москва"
                                            class="footer__insta-img">
                                    </picture>
                                </a>
                            </li>
                            <li class="footer__insta-li">
                                <a target="_blank" href="https://www.instagram.com/p/CTZBgPrDrXU/" class="footer__insta-link">
                                    <picture>
                                        <img src="/upload/resize/instagramm/18000104641339067.jpg" alt="Ультрамощный игровой ПК Edelweiss Unreal заряжен на победу, заточен под 4K. Максимальная производительность, запредельный FPS, технология Nvidia Reflex и DLSS в комплекте. 
⠀
Конфигурация: Процессор intel i9 11900K, видеокарта GEFORCE RTX ASUS STRIX 3080 Ti на 12 GB, оперативная память 32 Гб Kingston HyperX Fury RGB 3600Mhz, водяное охлаждение NZXT 73, накопитель SSD AORUS 512 Гб + 4Тб Seagate Barraquda, MB ASUS STRIX GAMING, корпус Cooler Master H500 mesh. Компьютеры в наличии и на заказ. Используйте конфигуратор онлайн на сайте для модификации готовых ПК. Стоимость 397 000 рублей. Приходите, подскажем и проконсультируем.
⠀
📞 8 (800) 234 99 19
💻https:/edelws.ru
✉️ info@edelws.ru
🚚 Доставка по всей территории России
✔️г. Москва, ул. Новопоселковая д.6 корпус 217 офис 521
EDELWEISS - совершенство для игр!

#компьютер #видеоигры #игры #игровыепк #геймеры #конфигураторпк #игровойкомпьютер #edelweiss_pc #asus #intel #3080ti #geforce #rtx #nvidia #пкдляигр #мощныепк #Москва" class="footer__insta-img">
                                    </picture>
                                </a>
                            </li>
                            <li class="footer__insta-li">
                                <a target="_blank" href="https://www.instagram.com/p/CSQwiK4DXEX/" class="footer__insta-link">
                                    <picture>
                                        <img src="/upload/resize/instagramm/18163274086194287.jpg" alt="Эффектный игровой ПК среднего ценового диапазона. Оптимальный баланс производительности и комфортной цена, достойный FPS в разрешение 2,5K. 
⠀
Конфигурация: Процессор intel i7, видеокарта GEFORCE RTX ASUS STRIX 3060 на 12 GB, оперативная память 16 Гб Kingston HyperX Fury RGB 3600Mhz, водяное охлаждение CORSAIR, накопитель SSD Samsung 980 PRO 512 Гб + 2Тб Seagate Barraquda, MB ASUS TUF GAMING, корпус Jonsbo UMX4W Silver. Компьютеры в наличии и на заказ. Используйте конфигуратор онлайн на сайте для изменения комплектации. Приходите, подскажем и проконсультируем.
⠀
📞 8 (800) 234 99 19
💻https:/edelws.ru
✉️ info@edelws.ru
🚚 Доставка по всей территории России
✔️г. Москва, ул. Новопоселковая д.6 корпус 217 офис 521
EDELWEISS - совершенство для игр!

#gamingpc #edelweiss_pc #asus #intel #3060 #geforce #rtx #nvidia #пкдляигр #мощные #компьютеры #Москва" class="footer__insta-img">
                                    </picture>
                                </a>
                            </li>
                            <li class="footer__insta-li">
                                <a target="_blank" href="https://www.instagram.com/p/CQDfzOSqQ2x/" class="footer__insta-link">
                                    <picture>
                                        <img src="/upload/resize/instagramm/17904468634945191.jpg" alt="Новая серия мощнейших видеокарт от Nvidia GeForce RTX 3080 Ti и 3070 Ti в игровых ПК EDELWEISS.
⠀⠀
📞 8 (800) 234 99 19
💻https:/edelws.ru
✉️ info@edelws.ru
🚚 Доставка по всей территории России
✔️г. Москва, ул. Новопоселковая д.6 корпус 217 офис 521
EDELWEISS - совершенство для игр!" class="footer__insta-img">
                                    </picture>
                                </a>
                            </li>
                            <li class="footer__insta-li">
                                <a target="_blank" href="https://www.instagram.com/p/CPF-XxaHqi7/" class="footer__insta-link">
                                    <picture>
                                        <img src="/upload/resize/instagramm/17851625618545034.jpg" alt="Сверхмощный топ от EDELWEISS. Игровой ПК вне категорий, на базе компонентов ASUS.  Тотальный контроль, FPS за гранью. рекомендованное разрешение 4K. Экстремальная серия для самых требовательных геймеров и энтузиастов. 
⠀
EDELWEISS FURY конфигурация: Процессор Intel i9 11900K, видеокарта GEFORCE RTX ASUS STRIX GAMING 3090, оперативная память 64 Гб Kingston HyperX Fury RGB 3600Mhz, охлаждение Asus ROG Ryujin 360, накопитель SSD Samsung 980 PRO 1024 Гб + 4Тб Seagate Barraquda, MB ASUS Z590-F Gaming, корпус Asus ROG STRIX HELIOS GX601, сетевая карта Asus AC68, блок питания ASUS ROG-THOR-1200P 1200W. 
⠀
В наличии карты GeForce RTX 3080 / 3070 / 3060, переходите на сайт, используйте онлайн конфигуратор для сборки компьютера вашей мечты. ⠀

📞 8 (800) 234 99 19
💻https:/edelws.ru
✉️ info@edelws.ru
🚚 Доставка по всей территории России
✔️г. Москва, ул. Новопоселковая д.6 корпус 217 офис 521
EDELWEISS - совершенство для игр
⠀
#edelweiss-pc #asus #rog #gamingpc #moding #дляигр #strix #игровыепк #geforce #3080 #fps #крутойпк" class="footer__insta-img">
                                    </picture>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bott">
        <div class="footer__inner inner">
            <div class="footer__wrapper">

                <div itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="footer__bott-start">
                    <div><a itemprop="url" href="/rules-use-information/" class="footer__bott-link"><span itemprop="name">Правила использования информации</span></a></div>
                    <div><a itemprop="url" href="/public-offer/" class="footer__bott-link"><span itemprop="name">Публичная оферта</span></a></div>
                    <div><a itemprop="url" href="/privacy-policy/" class="footer__bott-link"><span itemprop="name">Политика конфиденциальности</span></a></div>
                </div>
                <address class="footer__address _mob__">г. Москва, улица Новопоселковая дом 6 корпус 217, 5-ый этаж, офис 521.</address>
                <div class="footer__contact">
                    <p class="footer__contact-time _mob__">Пн-Пт: 11:00 - 20:00 </p>
                    <p class="footer__contact-time _mob__">Сб-Вс: 12:00 - 18:00</p> <a href="tel:88002349919" class="_mob__  footer__contact-tel">8 (800) 234 99 19</a>
                </div>
                <div class="footer__bott-end">
                    <p class="footer__copiting">© 2022 Edelweiss</p>
                </div>
            </div>
        </div>
    </div>
</footer>