{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="page__main">
  <div class="title-page">
    <div
      class="breadcrumps"
      itemprop="http://schema.org/breadcrumb"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <div class="breadcrumps__inner inner">
        <div class="breadcrumps__wrapper">
          <a
            href="/"
            class="breadcrumps__link"
            itemprop="itemListElement"
            itemscope=""
            itemtype="http://schema.org/ListItem"
          >
            <link itemprop="item" href="https://edelws.ru/" />
            <meta itemprop="position" content="1" />
            <meta itemprop="name" content="производство компьютеров" />
            <svg class="breadcrumps__link-icon" width="14" height="12">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/local/templates/main/img/sprite.svg#icon-home"
              ></use>
            </svg> </a
          ><span
            class="breadcrumps__text"
            itemprop="itemListElement"
            itemscope=""
            itemtype="http://schema.org/ListItem"
          >
            <link itemprop="item" href="https://edelws.ru/about/" />
            <meta itemprop="position" content="2" />
            <meta itemprop="name" content="О нас" />
            О нас</span
          >
        </div>
      </div>
    </div>
    <div class="title-page__bg game-1">
      <picture>
        <img
          srcset="
            https://edelws.ru/upload/uf/0c7/0c7b1d9c128122886140489168487a9d.png
          "
          src="/upload/uf/0c7/0c7b1d9c128122886140489168487a9d.png"
          alt=""
          class="title-page__bg-img waitlazzyload lazyloaded"
        />
      </picture>
    </div>
    <div class="title-page__inner inner">
      <div class="title-page__wrapp">
        <h1 class="title-page__h1">Философия гейминга от EDELWEISS</h1>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="about__inner inner">
      <div class="tabs-ajax">
        <div class="tabs-ajax__inner">
          <ul
            itemscope=""
            itemtype="http://www.schema.org/SiteNavigationElement"
            class="tabs-ajax__list column-desc-3 column-phablet-3"
          >
            <li class="tabs-ajax__li col _active">
              <a
                itemprop="url"
                href="{% url 'core:about' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-12.png"
              >
                <svg class="tabs-ajax__icon" width="12" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-periphery"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">Haqqımızda</span>
              </a>
            </li>
            <li class="tabs-ajax__li col">
              <a
                itemprop="url"
                href="{% url 'core:faq' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-11.png"
              >
                <svg class="tabs-ajax__icon" width="15" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-assembly"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">FAQ</span>
              </a>
            </li>
            <li class="tabs-ajax__li col">
              <a
                itemprop="url"
                href="{% url 'core:reviews' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-13.png"
              >
                <svg class="tabs-ajax__icon" width="15" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-assembly"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">Rəylər</span>
              </a>
            </li>
          </ul>
          <select
            class="select-box tabs-ajax__select select2-hidden-accessible"
            data-select2-id="1"
            tabindex="-1"
            aria-hidden="true"
          >
            <option value="0" selected="" data-select2-id="3">
              О компании
            </option>
            <option value="1">FAQ</option>
            <option value="2">Отзывы</option></select
          ><span
            class="select2 select2-container select2-container--default"
            dir="ltr"
            data-select2-id="2"
            style="width: 93.5px"
            ><span class="selection"
              ><span
                class="select2-selection select2-selection--single"
                role="combobox"
                aria-haspopup="true"
                aria-expanded="false"
                tabindex="0"
                aria-disabled="false"
                aria-labelledby="select2-3cdj-container"
                ><span
                  class="select2-selection__rendered"
                  id="select2-3cdj-container"
                  role="textbox"
                  aria-readonly="true"
                  title="О компании"
                  >О компании</span
                ><span class="select2-selection__arrow" role="presentation"
                  ><b role="presentation"></b></span></span></span
            ><span class="dropdown-wrapper" aria-hidden="true"></span
          ></span>
        </div>
      </div>

      <div class="about__content">
        <p>
          EDELWEISS – компьютерная студия, основанная в 2014 году командой
          единомышленников. Главное направление производство и тюнинг мощных
          игровых компьютеров высочайшей степени сложности. За время
          существования компании мы стали официальными партнёрами самых
          известных корпораций в компьютерном бизнесе: NVIDIA, MSI, THERMALTAKE,
          ASUS, Intel и очень гордимся этим результатом.
        </p>
        <p>
          Раз Вы читаете вкладку “О компании”, то определенно интересуетесь:
          компьютерными играми; графикой и 3D моделированием; приобретением
          офисного ПК для себя или своих сотрудников. Какой бы пункт Вас не
          интересовал, компания Эдельвейс опираясь на огромный опыт и команду
          профессионалов всегда готова помочь.
        </p>
        <div class="about__content-img-box">
          <img
            alt="пункт самовывоза интернет магазина EDELWEISS"
            src="/local/templates/main/img/img-27.jpg"
            data-src="/local/templates/main/img/img-27.jpg"
            class="about__content-img lazyloaded"
          />
          <img
            alt="офис компьютерного магазина EDELWEISS"
            src="/local/templates/main/img/img-28.png"
            data-src="/local/templates/main/img/img-28.png"
            class="about__content-img lazyloaded"
          />
        </div>
        <div>
          <h3>Для игроков и киберспортсменов</h3>
          <p>
            Предположим Вы играете пару часов в день для того что бы расслабится
            после рабочего дня, мы сможем создать для такой задачи
            сбалансированный игровой системный блок, на котором без проблем
            можно запустить World of Tanks и подбить парочку вражеских экипажей.
          </p>
          <p>
            Проводите много времени в онлайн играх, например таких как: PUBG,
            CS:GO, Dota 2, Overwatch, в таком случае потребуется надежный и
            производительный ПК, достаточно тихий, чтобы шум системы охлаждения
            не мешал вам активно общаться в голосовом чате. Определённо важным
            аспектом является внешний вид игрового компьютера, ассортимент
            корпусов в нашей компании позволит выбрать Вам подходящий вариант по
            внешнему виду, цене, размерам и форм-фактору.
          </p>
          <p>
            Относитесь к категории геймеров которые не терпят компромиссов,
            запускаю третью часть Ведьмка в разрешении 4К, с выкрученными
            бегунками Настроек графики на уровень "ультра», ожидают выхода
            продолжения легендарного шутера Red Dead Redemption 2, тут мы готовы
            предложить Вашему вниманию линейку мощнейших игровых компьютеров,
            построенных на базе топовых видеокарт GEFORCE RTX 20 серии.
            Максимальная производительность, надежность, эффективное охлаждение,
            стильный дизайн - вот основные принципы на которые опираются наша
            инженеры, при производстве игровых ПК премиум класса.
          </p>
        </div>
        <div>
          <div class="about__content-img-box">
            <img
              alt="EDELWEISS авторизованный партнер Nvidia"
              src="/local/templates/main/img/nvidiasert2021.jpg"
              srcset="
                https://edelws.ru/local/templates/main/img/nvidiasert2021.jpg
              "
              class="about__content-img-big waitlazzyload lazyloaded"
              width="920"
              height="600"
            />
          </div>
          <h3>Решения для бизнеса</h3>
          <p>
            Если Вы работаете с такими приложениями как: Coral, 3DMax, Adobe, и
            т.п., производите тяжелые инженерные расчеты и т.п., мы поможем
            выбрать достойную графические станции, построенные на базе
            процессоров Intel последнего поколения и профессиональных видеокарт
            NVIDIA Quadro. С такой аппаратной мощностью можно быть уверенным,
            проект будет завершён в срок.
          </p>
          <p>
            В любой компании независимо от ее размера всегда присутствует
            потребность в надежных рабочих компьютерах для ведения базы данных,
            обслуживания клиентов, доступа к информационным серверам, обработки
            и ведения бухгалтерских отчетов и множества других подобных задач.
            Наша компания готова предложить качественные, мощные офисные
            компьютеры линейки Edelweiss. При их создании мы стараемся
            использовать бюджетные, проверенные и качественные модели
            комплектующих. Поэтому не сомневайтесь в стабильности и надежности
            их работы.
          </p>
        </div>
        <div class="about__edelweiss">
          <div class="about__edelweiss-box">
            <p class="about__edelweiss-titile">
              Иногда клиенты задают вопрос, почему ваша компания называется
              EDELWEISS ?
            </p>
            <p class="about__edelweiss-text">
              Эдельвейс - это цветок, растущий в высокогорье, порой в очень
              суровых условиях поэтому считается символом упорства и мужества,
              целеустремленности и благородства. Формой растение напоминает
              львиную лапу (Leontopodlum), а лев это сила и совершенство, в
              нашем случае “Совершенство для игр”.
            </p>
          </div>
          <div class="about__edelweiss-box-green"></div>
          <img
            alt="логотип EDELWEISS"
            src="/local/templates/main/img/about-logo.svg"
            class="about__edelweiss-logo"
          />
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
