{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="page__main">
  <div class="title-page">
    <div
      class="breadcrumps"
      itemprop="http://schema.org/breadcrumb"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <div class="breadcrumps__inner inner">
        <div class="breadcrumps__wrapper">
          <a
            href="/"
            class="breadcrumps__link"
            itemprop="itemListElement"
            itemscope=""
            itemtype="http://schema.org/ListItem"
          >
            <link itemprop="item" href="https://edelws.ru/" />
            <meta itemprop="position" content="1" />
            <meta itemprop="name" content="производство компьютеров" />
            <svg class="breadcrumps__link-icon" width="14" height="12">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/local/templates/main/img/sprite.svg#icon-home"
              ></use>
            </svg> </a
          ><span
            class="breadcrumps__text"
            itemprop="itemListElement"
            itemscope=""
            itemtype="http://schema.org/ListItem"
          >
            <link itemprop="item" href="https://edelws.ru/about/" />
            <meta itemprop="position" content="2" />
            <meta itemprop="name" content="О нас" />
            О нас</span
          >
        </div>
      </div>
    </div>
    <div class="title-page__bg game-1">
      <picture>
        <img
          srcset="
            https://edelws.ru/upload/uf/0c7/0c7b1d9c128122886140489168487a9d.png
          "
          src="/upload/uf/0c7/0c7b1d9c128122886140489168487a9d.png"
          alt=""
          class="title-page__bg-img waitlazzyload lazyloaded"
        />
      </picture>
    </div>
    <div class="title-page__inner inner">
      <div class="title-page__wrapp">
        <h1 class="title-page__h1">Haqqımızda</h1>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="about__inner inner">
      <div class="tabs-ajax">
        <div class="tabs-ajax__inner">
          <ul
            itemscope=""
            itemtype="http://www.schema.org/SiteNavigationElement"
            class="tabs-ajax__list column-desc-3 column-phablet-3"
          >
            <li class="tabs-ajax__li col _active">
              <a
                itemprop="url"
                href="{% url 'core:about' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-12.png"
              >
                <svg class="tabs-ajax__icon" width="12" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-periphery"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">Haqqımızda</span>
              </a>
            </li>
            <li class="tabs-ajax__li col">
              <a
                itemprop="url"
                href="{% url 'core:faq' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-11.png"
              >
                <svg class="tabs-ajax__icon" width="15" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-assembly"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">FAQ</span>
              </a>
            </li>
            <li class="tabs-ajax__li col">
              <a
                itemprop="url"
                href="{% url 'core:reviews' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-13.png"
              >
                <svg class="tabs-ajax__icon" width="15" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-assembly"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">Rəylər</span>
              </a>
            </li>
          </ul>
          <select
            class="select-box tabs-ajax__select select2-hidden-accessible"
            data-select2-id="1"
            tabindex="-1"
            aria-hidden="true"
          >
            <option value="0" selected="" data-select2-id="3">
              О компании
            </option>
            <option value="1">FAQ</option>
            <option value="2">Отзывы</option></select
          ><span
            class="select2 select2-container select2-container--default"
            dir="ltr"
            data-select2-id="2"
            style="width: 93.5px"
            ><span class="selection"
              ><span
                class="select2-selection select2-selection--single"
                role="combobox"
                aria-haspopup="true"
                aria-expanded="false"
                tabindex="0"
                aria-disabled="false"
                aria-labelledby="select2-3cdj-container"
                ><span
                  class="select2-selection__rendered"
                  id="select2-3cdj-container"
                  role="textbox"
                  aria-readonly="true"
                  title="О компании"
                  >О компании</span
                ><span class="select2-selection__arrow" role="presentation"
                  ><b role="presentation"></b></span></span></span
            ><span class="dropdown-wrapper" aria-hidden="true"></span
          ></span>
        </div>
      </div>

      <div class="about__content">
        <p>
          2018-ci ildə yaradılan Gamenote Azerbaycanin aparıcı İT şirkətlərindən biridir. Beynəlxalq qabaqcıl şirkətlərlə yaxından əməkdaşlıq edərək, Gamenote geniş çeşiddə məhsul təklif edir. Uzun illərə dayanan peşəkar biznes yanaşmamız şirkətimizin yüksək səviyyədə müştəri məmnuniyyəti qazanmasına səbəb olmuş və nəticə etibarilə onu bu gün ön sıralarda gedən İT şirkətlərdən birinə çevirmişdir.

Gamenote Acer, Asus, MSI, Dell, Lenovo, HP, Logitech kimi qabaqcıl istehsalçıların rəsmi tərəfdaşıdır.
        </p>
        
        
      </div>
    </div>
  </div>
</main>

{% endblock %}
