{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="panel">
</div>
<div class="page">


    <main class="page__main">
        <div class="title-page">
            <div class="breadcrumps" itemprop="http://schema.org/breadcrumb" itemscope
                itemtype="http://schema.org/BreadcrumbList">
                <div class="breadcrumps__inner inner">
                    <div class="breadcrumps__wrapper">
                        <a href="/" class="breadcrumps__link" itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <link itemprop="item" href="https://edelws.ru/">
                            <meta itemprop="position" content="1" />
                            <meta itemprop="name" content="производство компьютеров" />
                            <svg class="breadcrumps__link-icon" width="14" height="12">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="/local/templates/main/img/sprite.svg#icon-home"></use>
                            </svg>
                        </a><span class="breadcrumps__text" itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <link itemprop="item" href="https://edelws.ru/cart/">
                            <meta itemprop="position" content="2" />
                            <meta itemprop="name" content="Корзина" />
                            Səbət
                        </span>
                    </div>
                </div>
            </div>
            <div class="title-page__bg ">
                <picture>
                    <img srcset="https://edelws.ru/upload/uf/bfc/bfc073b789ca7a1468b32add7c7dfa34.png"
                        src="https://edelws.ru/upload/uf/bfc/bfc073b789ca7a1468b32add7c7dfa34.png" alt=""
                        class="lazzyload title-page__bg-img">
                </picture>
            </div>
            <div class="title-page__inner inner">
                <div class="title-page__wrapp">
                    <h1 class="title-page__h1">Səbət</h1>
                </div>
            </div>
        </div>
        <div id="basket" class="basket">
            <div class="basket">
                <div class="basket__inner inner">
                    <div class="basket__wrapper">
                        <div class="basket__start">
                            <p class="basket__title">Səbət</p>
                            {% for product in products %}
                            <div class="basket__item-box">
                                <div class="basket__item" index="0">
                                    <div class="basket__item-card">
                                        <div class="basket__item-img-box"><img
                                                src="{{ product.product.images.first.image.url }}"
                                                alt="EDELWEISS GLADIATOR" class="basket__item-img"></div> <a
                                            href="/power-pc/edelweiss-gladiator/" class="basket__item-name">{{ product.product.title }}</a>
                                    </div>
                                    <div class="basket__item-price"><span>{{ product.final_price }}</span> ₼</div>
                                    <div class="basket__item-control"><a
                                            href="javascript:void(0)" class="basket__item-rem">
                                            <form action="{% url 'core:delete-from-cart' %}" method="POST">
                                                {% csrf_token %}
                                                <input style="display: none;" name="id" type="text" value="{{product.id}}">
                                                <button type="submit" style="border: transparent;">
                                                    <img src="{% static 'public/img/x.png' %}" alt="" style="width: 20px;">
                                                </button>
                                            
                                            </form>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="basket__worth">
                                <p class="basket__worth-title">Ümumi qimət</p>
                                <div class="basket__worth-box">
                                    <p class="basket__worth-price"><span>{{sum}}</span>₼</p>
                                    <div class="basket__worth-credit"><span class="basket__worth-credit-sum">
                                        <div class="catalog__credit"><a href="javascript:void(0)"
                                                class="basket__worth-i"><svg width="13" height="13" class="icon-info">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xlink:href="/local/templates/main/img/sprite.svg#icon-info">
                                                    </use>
                                                </svg></a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="basket__end">
                            <div class="basket__order">
                                <p class="basket__title">Sifariş qeydiyyatı</p>
                                <form class="Valid" method="POST">
                                    {% csrf_token %}
                                    <div class="basket__order-box">
                                        <p class="basket__title basket__title--type-2">Şəxsi məlumatlar</p>
                                        <dl class="input__dl">
                                            <dt class="input__dt">
                                                <p class="input__title">Ad və Soyad</p>
                                            </dt>
                                            <dd class="input__dd"><label class="input__box">{{form.full_name}}
                                                    <!---->
                                                </label>{{form.full_name.errors}}</dd>
                                        </dl>
                                        <dl class="input__dl">
                                            <dt class="input__dt">
                                                <p class="input__title">Telefon</p>
                                            </dt>
                                            <dd class="input__dd"><label class="input__box">{{form.number}}
                                                    <!---->
                                                </label>{{form.number.errors}}</dd>
                                        </dl>
                                        <dl class="input__dl">
                                            <dt class="input__dt">
                                                <p class="input__title">E-mail</p>
                                            </dt>
                                            <dd class="input__dd"><label class="input__box">{{form.email}}
                                                    <!---->
                                                </label>{{form.email.errors}}</dd>
                                        </dl>
                                    </div>
                                    <div class="basket__order-box">
                                        <p class="basket__title basket__title--type-2">Çatdırılma</p>
                                        {{form.delivery}}
                                        {{form.delivery.errors}}
                                    </div>
                                    <!---->
                                    <div class="basket__order-box">
                                        <p class="basket__title basket__title--type-2">Ödəniş növü</p>
                                        {{form.payment_type}}
                                        {{form.payment_type.errors}}
                                    </div>
                                    <div class="basket__order-box">
                                        <p class="basket__title basket__title--type-2">Sifariş Kommenti</p>
                                        <dl class="input__dl input__dl--texter">
                                            <dd class="input__dd basket__order-dd">{{form.comment}}</dd>
                                            {{form.comment.errors}}
                                        </dl>
                                    </div>
                                    <div class="basket__order-box-btn"><button type="submit"
                                            class="btn btn--type-2 basket__order-btn">Sifarişi tamamla</button>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                
                
                

 
            </div>
        </div>




    </main>
</div>






<div class="custom">
    <div class="tm-chat-btn" onclick="this.classList.toggle('active')">
        <a class="tm-chat-btn__item uk-icon" style="background-color: #4a76a8;" title="Написать нам во Вконтакте"
            href="//vk.me/-80425418" target="_blank" rel="noopener" uk-icon="hp-vk">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-svg="hp-vk">
                <path
                    d="M20 5c0,-1 0,-1 -1,-1l-2 0c-1,0 -1,0 -1,1 0,0 -1,2 -3,4 0,1 -1,1 -1,1 0,0 0,0 0,-1l0 -4c0,-1 0,-1 -1,-1l-3 0c-1,0 -1,0 -1,1 0,0 1,0 1,2l0 3c0,1 0,1 0,1 -1,0 -3,-3 -4,-6 0,-1 -1,-1 -1,-1l-2 0c-1,0 -1,0 -1,1 0,0 1,3 3,7 2,3 5,4 7,4 2,0 2,0 2,-1l0 -2c0,-1 0,-1 0,-1 1,0 1,1 2,2 2,1 2,2 3,2l2 0c1,0 1,0 1,-1 0,-1 -1,-1 -2,-3 0,0 -1,-1 -1,-1 -1,-1 -1,-1 0,-1 0,0 2,-4 3,-5z">
                </path>
            </svg>
        </a>
        <a class="tm-chat-btn__item uk-icon" style="background-color: #1da1f2;" title="Написать нам в Telegram"
            href="//t.me/edelweisspc" target="_blank" rel="noopener" uk-icon="hp-telegram">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-svg="hp-telegram">
                <path
                    d="M7.59,14.74,6.45,11.18,19,1.68,1.46,8.7S.69,9,.75,9.48s.69.74.69.74l4.08,1.43,1.85,6.12,3.13-2.86h0l4.11,3.28a1.06,1.06,0,0,0,1.51-.55L19,1.68Z">
                </path>
            </svg>
        </a>
        <a class="tm-chat-btn__item uk-icon" style="background-color: #00e676;" title="Написать нам в WhatsApp"
            href="//wa.me/79199947083" target="_blank" rel="noopener" uk-icon="whatsapp">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="whatsapp">
                <path
                    d="M16.7,3.3c-1.8-1.8-4.1-2.8-6.7-2.8c-5.2,0-9.4,4.2-9.4,9.4c0,1.7,0.4,3.3,1.3,4.7l-1.3,4.9l5-1.3c1.4,0.8,2.9,1.2,4.5,1.2 l0,0l0,0c5.2,0,9.4-4.2,9.4-9.4C19.5,7.4,18.5,5,16.7,3.3 M10.1,17.7L10.1,17.7c-1.4,0-2.8-0.4-4-1.1l-0.3-0.2l-3,0.8l0.8-2.9 l-0.2-0.3c-0.8-1.2-1.2-2.7-1.2-4.2c0-4.3,3.5-7.8,7.8-7.8c2.1,0,4.1,0.8,5.5,2.3c1.5,1.5,2.3,3.4,2.3,5.5 C17.9,14.2,14.4,17.7,10.1,17.7 M14.4,11.9c-0.2-0.1-1.4-0.7-1.6-0.8c-0.2-0.1-0.4-0.1-0.5,0.1c-0.2,0.2-0.6,0.8-0.8,0.9 c-0.1,0.2-0.3,0.2-0.5,0.1c-0.2-0.1-1-0.4-1.9-1.2c-0.7-0.6-1.2-1.4-1.3-1.6c-0.1-0.2,0-0.4,0.1-0.5C8,8.8,8.1,8.7,8.2,8.5 c0.1-0.1,0.2-0.2,0.2-0.4c0.1-0.2,0-0.3,0-0.4C8.4,7.6,7.9,6.5,7.7,6C7.5,5.5,7.3,5.6,7.2,5.6c-0.1,0-0.3,0-0.4,0 c-0.2,0-0.4,0.1-0.6,0.3c-0.2,0.2-0.8,0.8-0.8,2c0,1.2,0.8,2.3,1,2.4c0.1,0.2,1.7,2.5,4,3.5c0.6,0.2,1,0.4,1.3,0.5 c0.6,0.2,1.1,0.2,1.5,0.1c0.5-0.1,1.4-0.6,1.6-1.1c0.2-0.5,0.2-1,0.1-1.1C14.8,12.1,14.6,12,14.4,11.9">
                </path>
            </svg>
        </a>
        <span class="tm-chat-btn__text"> <span>Начать чат</span> </span>
    </div>
</div>
<!-- Yandex.Metrika counter -->
<noscript>
    <div><img src="https://mc.yandex.ru/watch/42310539" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

{% endblock %}