{% extends 'base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript" data-skip-moving="true">
    (function(w, d, n) {

        var cl = "bx-core";
        var ht = d.documentElement;
        var htc = ht ? ht.className : undefined;
        if (htc === undefined || htc.indexOf(cl) !== -1) {
            return;
        }

        var ua = n.userAgent;
        if (/(iPad;)|(iPhone;)/i.test(ua)) {
            cl += " bx-ios";
        } else if (/Android/i.test(ua)) {
            cl += " bx-android";
        }

        cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch");

        cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ?
            " bx-retina" :
            " bx-no-retina";

        var ieVersion = -1;
        if (/AppleWebKit/.test(ua)) {
            cl += " bx-chrome";
        } else if ((ieVersion = getIeVersion()) > 0) {
            cl += " bx-ie bx-ie" + ieVersion;
            if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) {
                cl += " bx-quirks";
            }
        } else if (/Opera/.test(ua)) {
            cl += " bx-opera";
        } else if (/Gecko/.test(ua)) {
            cl += " bx-firefox";
        }

        if (/Macintosh/i.test(ua)) {
            cl += " bx-mac";
        }

        ht.className = htc ? htc + " " + cl : cl;

        function isDoctype() {
            if (d.compatMode) {
                return d.compatMode == "CSS1Compat";
            }

            return d.documentElement && d.documentElement.clientHeight;
        }

        function getIeVersion() {
            if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) {
                return -1;
            }

            var rv = -1;
            if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) {
                rv = 11;
            } else if (!!d.documentMode && d.documentMode >= 10) {
                rv = 10;
            } else if (!!d.documentMode && d.documentMode >= 9) {
                rv = 9;
            } else if (d.attachEvent && !/Opera/.test(ua)) {
                rv = 8;
            }

            if (rv == -1 || rv == 8) {
                var re;
                if (n.appName == "Microsoft Internet Explorer") {
                    re = new RegExp("MSIE ([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                } else if (n.appName == "Netscape") {
                    rv = 11;
                    re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                }
            }

            return rv;
        }

    })(window, document, navigator);
</script>


<main class="page__main">
    <div class="title-page">
        <div class="breadcrumps" itemprop="http://schema.org/breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <div class="breadcrumps__inner inner">
                <div class="breadcrumps__wrapper">
                    <a href="/" class="breadcrumps__link" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <link itemprop="item" href="https://edelws.ru/">
                        <meta itemprop="position" content="1" />
                        <meta itemprop="name" content="производство компьютеров" />
                        <svg class="breadcrumps__link-icon" width="14" height="12">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-home"></use>
        </svg>
                    </a><span class="breadcrumps__text" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">

Əlaqə</span></div>
            </div>
        </div>
        <div class="title-page__bg game-1">
            <picture>
                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/uf/f2c/f2c7d6f0aef09834a62dc30b35fa056a.png" alt="" class="lazzyload title-page__bg-img">
            </picture>
        </div>
        <div class="title-page__inner inner">
            <div class="title-page__wrapp">
                <h1 class="title-page__h1">Əlaqə</h1>
            </div>
        </div>
    </div>
    <div class="contacts">
        <div class="contacts__inner inner">
            <div class="contacts__wrapper">
                <div class="contacts__start">
                    <p class="contacts__title">Əlaqə Məlumatları</p>
                    <div class="contacts__box">
                        <p class="contacts__title contacts__title--type-2">Ünvan</p> <a href="https://yandex.by/maps/213/moscow/?ll=37.444051%2C55.836655&mode=routes&rtext=~55.837515%2C37.442536&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.443%252C55.838%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D0%259D%25D0%25BE%25D0%25B2%25D0%25BE%25D0%25BF%25D0%25BE%25D1%2581%25D0%25B5%25D0%25BB%25D0%25BA%25D0%25BE%25D0%25B2%25D0%25B0%25D1%258F%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%252C%25206%25D0%25BA217&z=16.13"
                            target="_blank" class="contacts__text-link">
                            Partnyor Magaza  ICOMP</br>

                            Bulbul 48B (Jale Plaza yani) </a>
                    </div>

                    <div class="contacts__box">
                        <p class="contacts__title contacts__title--type-2">Mağazanın iş vaxtları</p>
                        <dl class="contacts__dl">
                            <dt class="contacts__dt">Bazar ertəsi</dt>
                            <dd class="contacts__dd">9.00 — 21.00</dd>
                        </dl>
                        <dl class="contacts__dl">
                            <dt class="contacts__dt">Çərşənbə axşamı</dt>
                            <dd class="contacts__dd">9.00 — 21.00</dd>
                        </dl>
                        <dl class="contacts__dl">
                            <dt class="contacts__dt">Çərşənbə</dt>
                            <dd class="contacts__dd">9.00 — 21.00</dd>
                        </dl>
                        <dl class="contacts__dl">
                            <dt class="contacts__dt">Cümə axşamı</dt>
                            <dd class="contacts__dd">9.00 — 21.00</dd>
                        </dl>
                        <dl class="contacts__dl">
                            <dt class="contacts__dt">Cümə</dt>
                            <dd class="contacts__dd">9.00 — 21.00</dd>
                        </dl>
                        <dl class="contacts__dl">
                            <dt class="contacts__dt">Şənbə</dt>
                            <dd class="contacts__dd">9.00 — 21.00</dd>
                        </dl>
                        <dl class="contacts__dl">
                            <dt class="contacts__dt">Bazar</dt>
                            <dd class="contacts__dd">9.00 — 21.00</dd>
                        </dl>
                    </div>
                    <div class="contacts__box">
                        <p class="contacts__title contacts__title--type-2">Əlaqə nömrəsi</p>
                        <a href="tel:88002349919" class="contacts__link" style="font-size: 2rem;">+994 55 555 55 55</a>
                    </div>
                    <div class="contacts__box">
                        <p class="contacts__title contacts__title--type-2">E-mail</p>
                        <a href="mailto:info@edelws.ru" class="contacts__link" style="font-size: 2rem;">info@gamenotebaku.az</a>
                    </div>
                    

                </div>
                <div class="contacts__end">
                    <p class="contacts__title">Местоположение</p>
                    <div class="contacts__maps">
                        <picture>
                            <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/local/templates/main/img/maps.jpg" alt="" class="lazzyload ontacts__maps-img">
                        </picture>
                        <a href="https://yandex.by/maps/213/moscow/?ll=37.444051%2C55.836655&mode=routes&rtext=~55.837515%2C37.442536&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.443%252C55.838%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D0%259D%25D0%25BE%25D0%25B2%25D0%25BE%25D0%25BF%25D0%25BE%25D1%2581%25D0%25B5%25D0%25BB%25D0%25BA%25D0%25BE%25D0%25B2%25D0%25B0%25D1%258F%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%252C%25206%25D0%25BA217&z=16.13"
                            target="_blank" class="btn btn--type-3 contacts__btn">проложить маршрут</a>

                    </div>
                    <div class="contacts__box">
                        <p class="contacts__title contacts__title--type-2">На общественном транспорте.</p>
                        <p class="contacts__text-big">От Станции метро Сходненская, первый вагон налево, далее трамвай № 6 до остановки &quot;улица Новопоселковая&quot;, от остановки ~ 100 метров до первого подъезда (первый подъезд от пересечения улиц Лодочная и Новопоселковая).</p>
                    </div>
                    <div class="contacts__box">
                        <p class="contacts__title contacts__title--type-2">На автомобиле</p>
                        <p class="contacts__text-big">Двигаясь по улице Свободы в сторону центра, повернуть направо на улицу Лодочная, проехать 1000 метров, здание будет находится по ходу движения справа, напротив автотехцентра &quot;АНКАР&quot;. У здания имеется большая парковка.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>








{% endblock %}












