{% extends 'base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript" data-skip-moving="true">
    (function(w, d, n) {

        var cl = "bx-core";
        var ht = d.documentElement;
        var htc = ht ? ht.className : undefined;
        if (htc === undefined || htc.indexOf(cl) !== -1) {
            return;
        }

        var ua = n.userAgent;
        if (/(iPad;)|(iPhone;)/i.test(ua)) {
            cl += " bx-ios";
        } else if (/Android/i.test(ua)) {
            cl += " bx-android";
        }

        cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch");

        cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ?
            " bx-retina" :
            " bx-no-retina";

        var ieVersion = -1;
        if (/AppleWebKit/.test(ua)) {
            cl += " bx-chrome";
        } else if ((ieVersion = getIeVersion()) > 0) {
            cl += " bx-ie bx-ie" + ieVersion;
            if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) {
                cl += " bx-quirks";
            }
        } else if (/Opera/.test(ua)) {
            cl += " bx-opera";
        } else if (/Gecko/.test(ua)) {
            cl += " bx-firefox";
        }

        if (/Macintosh/i.test(ua)) {
            cl += " bx-mac";
        }

        ht.className = htc ? htc + " " + cl : cl;

        function isDoctype() {
            if (d.compatMode) {
                return d.compatMode == "CSS1Compat";
            }

            return d.documentElement && d.documentElement.clientHeight;
        }

        function getIeVersion() {
            if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) {
                return -1;
            }

            var rv = -1;
            if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) {
                rv = 11;
            } else if (!!d.documentMode && d.documentMode >= 10) {
                rv = 10;
            } else if (!!d.documentMode && d.documentMode >= 9) {
                rv = 9;
            } else if (d.attachEvent && !/Opera/.test(ua)) {
                rv = 8;
            }

            if (rv == -1 || rv == 8) {
                var re;
                if (n.appName == "Microsoft Internet Explorer") {
                    re = new RegExp("MSIE ([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                } else if (n.appName == "Netscape") {
                    rv = 11;
                    re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                }
            }

            return rv;
        }

    })(window, document, navigator);
</script>

<main class="page__main">
    <div class="title-page">
        <div class="breadcrumps" itemprop="http://schema.org/breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <div class="breadcrumps__inner inner">
                <div class="breadcrumps__wrapper">
                    <a href="/" class="breadcrumps__link" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <link itemprop="item" href="https://edelws.ru/">
                        <meta itemprop="position" content="1" />
                        <meta itemprop="name" content="производство компьютеров" />
                        <svg class="breadcrumps__link-icon" width="14" height="12">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-home"></use>
        </svg>
                    </a><span class="breadcrumps__text" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<link itemprop="item" href="https://edelws.ru/game/">
        <meta itemprop="position" content="2" />
        <meta itemprop="name" content="Компьютеры под игру, геймерские ПК оптимизированные под проекты AAA"/>
Компьютеры под игру, геймерские ПК оптимизированные под проекты AAA</span></div>
            </div>
        </div>
        <div class="title-page__bg game-1">
            <picture>
                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/uf/6fe/6fe156668e2a6d90702235455f62972d.png" alt="компьютеры для игр выбранных пользователем" class="lazzyload title-page__bg-img">
            </picture>
        </div>
        <div class="title-page__inner inner">
            <div class="title-page__wrapp">
                <h1 class="title-page__h1">Компьютеры под игру</h1>
                <p class="title-page__text">Выберите любимую игру, а мы предложим вам вариант сборки оптимизированный под конкретный проект AAA. Понимая особенности геймплея, разрешение монитора, требования игры. Вы получите качественную станцию с оптимальными характеристиками,
                    учитывая ваши финасовые возможности.</p>
                <div class="title-page__hidd">
                    <h2>ПК под любимую игру</h2>
                    <p>
                        Компьютерные игры развиваются со скоростью стремительного водопада или горной лавины. В эту популярную сферу развлечений вовлечены уже миллионы людей во всем мире. И количество любителей виртуальных баталий только нарастает. А ведь полстолетия назад многие
                        из нас даже не слышали о таких программах. Да и сами игры были достаточно примитивными, еще не набрали солидной мышечной массы.
                    </p>
                    <p>
                        Мощный импульс для развития они получили в девяностые годы прошлого века, когда стали трехмерными. Реалистичная графика способствовала появлению новых игровых жанров. Появились шутеры от первого лица (Doom) и стратегии в реальном времени (Dune II). В
                        XXI веке трехмерная графика достигла невероятно широкого распространения, а компьютерные игры приобрели массовый характер. Ими стали увлекаться люди всех возрастов и профессий. Такому невероятному буму способствовало быстрое
                        развитие интернета и социальных сетей.
                    </p>
                    <p>
                        Сегодня игры класса ААА, требующие от разработчиков колоссальных бюджетных затрат, стремительно захватывают рынок, будоражат сердца поклонников. Естественно, что под их футуристические задачи нужны мощные игровые ПК.
                    </p>
                    <h3>Варианты от экспертов</h3>
                    <p>
                        На этой странице вы можете подобрать игровой ПК под самые популярные компьютерные игры:
                    </p>
                    <ul>
                        <li>Cyberpunk 2077;</li>
                        <li>PUBG;</li>
                        <li>World of Tanks;</li>
                        <li>DOTA 2;</li>
                        <li>Minecraft;</li>
                        <li>Fortnite и многие другие.</li>
                    </ul>
                    <p>
                        Сам процесс простой и приятный: выбираете игру и сразу получаете список компьютеров, которые рекомендуют специалисты EDELWEISS.
                    </p>
                    <p>
                        Например, вы являетесь страстным поклонником онлайн-шутера Warface, поэтому под любимую игру желаете купить соответствующий ПК. Поскольку в этой игре вас ждет много ярких сражений, потребуется видеокарта экстра-класса. Желательно, не слабее GeForce RTX
                        3070. Процессор Intel Core i5 с задачами справится, но лучше взять классом выше. Рекомендуемый жесткий диск – 2 Тб Western Digita. И так по всем основным компонентам.
                    </p>
                    <p>
                        Вы можете воспользоваться и конфигуратором сайта, но быстрее и удобнее заказать готовую сборку, которую тщательно подобрали наши эксперты.
                    </p>
                    <p>
                        Так, под игру Warface они предлагают следующие модели:
                    </p>
                    <ul>
                        <li>EDELWEISS VILLAIN – 53 380 рублей;</li>
                        <li>EDELWEISS CS:GO – 85 150 рублей;</li>
                        <li>EDELWEISS ZVEROBOY – 102 340 рублей;</li>
                        <li>EDELWEISS ARMOR – 134 980 рублей.</li>
                    </ul>
                    <p>
                        Как видите, цены на машины значительно разнятся, поскольку мы стараемся учитывать материальные возможности каждого геймера.
                    </p>
                    <h3>Наши принципы</h3>
                    <p>
                        Такой же алгоритм выбора ПК заложен под каждую игру. Поэтому, если вы страстный поклонник конкретного шутера или симулятора, этот раздел для вас. Естественно, что любой компьютер, который вы приобретете в студии EDELWEISS, верно будет служить вам и в
                        других сражениях.
                    </p>
                    <p>
                        Что касается наших принципов при выборе игрового ПК, то всегда советуем приобретать железо на перспективу, с запасом. Во-первых, вы сразу почувствуете прелесть игры за лучшим современным компьютером. Во-вторых, не станете заморачиваться по поводу апгрейда
                        или новой машины лет 5-7. В-третьих, сэкономите свои деньги.
                    </p>
                    <p>
                        Это действительно так, поскольку ваши инновационные вложения будут работать гораздо дольше обычных. Вспомните известный афоризм Ротшильда: «Я не настолько богат, чтобы покупать дешевые вещи».
                    </p>
                    <p>
                        Успешных вам сражений с компьютерами от EDELWEISS!
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn btn--type-1 title-page__btn js-title-page" data-close="свернуть" data-open="узнать больше">узнать больше</a>
            </div>
        </div>
    </div>
    <div class="features ">
        <div class="features__inner inner">
            <div class="features__wrapper">
                <h4 class="features__title">Настольные ПК для современных игровых приложений</h4>
                <ul class="features__list">
                    <li class="features__li">
                        <i class="features__star"></i>
                        <p class="features__text">Продажа компьютеров для игр Pubg, CS:GO, Minecraft, Fortnite, GTA5 от EDELWEISS</p>
                    </li>
                    <li class="features__li">
                        <i class="features__star"></i>
                        <p class="features__text">Подбор геймерского компьютера под параметры современных ресурсоёмких игр</p>
                    </li>
                    <li class="features__li">
                        <i class="features__star"></i>
                        <p class="features__text">Мощные графические видеокарты, реализация максимального FPS, философия настоящего гейминга</p>
                    </li>
                </ul>
                <div class="features__img-box">
                    <picture>
                        <img src="/upload/uf/638/638758ed7980d5cbe7cce2ba1797403b.png" alt="" class="features__img">
                    </picture>
                </div>

            </div>
        </div>
    </div>
    <div class="games">
        <div class="games__inner inner">
            <div class="games__wrapper">
                <ul class="games__list">
                    <li class="games__li games__li--big" data-id="901" id="bx_3218110189_901">
                        <a href="/game/cyberpunk-2077/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/iblock/660/66044622bd51befa4b0e276c0aa830ca.jpg" alt="Компьютер под игру Cyberpunk 2077" title="Компьютер под игру Cyberpunk 2077" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Cyberpunk 2077</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 90 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li games__li--big" data-id="870" id="bx_3218110189_870">
                        <a href="/game/pubg/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/iblock/381/381451a1e095df25010c69f26e55bcda.jpg" alt="Компьютер под игру PUBG" title="Компьютер под игру PUBG" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">PUBG</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 80 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="903" id="bx_3218110189_903">
                        <a href="/game/wot/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/69c/320_424_1/69cb938f7945d921ac8f414b06382a06.jpg" alt="Компьютер под игру World of Tanks" title="Компьютер под игру World of Tanks"
                                    class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">World of Tanks</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 40 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="904" id="bx_3218110189_904">
                        <a href="/game/dota-2/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/03b/320_424_1/03ba669303fd16fb4e6ce940476d833c.jpg" alt="Компьютер под игру DOTA 2" title="Компьютер под игру DOTA 2" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">DOTA 2</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 35 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="905" id="bx_3218110189_905">
                        <a href="/game/cs-go/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/0b0/320_424_1/0b0bda7ea5b1d28ee8299785b1a8072a.jpg" alt="Компьютер под игру CS:GO" title="Компьютер под игру CS:GO" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">CS:GO</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 50 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="906" id="bx_3218110189_906">
                        <a href="/game/minecraft/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/d3f/320_424_1/d3f90ab0ed257925e9befcb2081f411e.jpg" alt="Компьютер под игру Minecraft" title="Компьютер под игру Minecraft" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Minecraft</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 35 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li games__li--big" data-id="907" id="bx_3218110189_907">
                        <a href="/game/fortnite/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/iblock/b32/b32846efea2b6b2af4220ae9aa8bb2f7.jpg" alt="Компьютер под игру Fortnite" title="Компьютер под игру Fortnite" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Fortnite</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li games__li--big" data-id="908" id="bx_3218110189_908">
                        <a href="/game/rdr2/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/iblock/1df/1dfaec53810f7e27f3565fd446a0c374.jpg" alt="Компьютер под игру RDR2" title="Компьютер под игру RDR2" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">RDR2</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="909" id="bx_3218110189_909">
                        <a href="/game/rust/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/57f/320_424_1/57f25896afdb43bdec6adec7b9ddff12.jpg" alt="Компьютер под игру Rust" title="Компьютер под игру Rust" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Rust</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="910" id="bx_3218110189_910">
                        <a href="/game/gta-v/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/18f/320_424_1/18f88adac3fb855834f5243dfab7970e.jpg" alt="Компьютер под игру GTA V" title="Компьютер под игру GTA V" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">GTA V</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="911" id="bx_3218110189_911">
                        <a href="/game/warface/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/bcd/320_424_1/bcdf01410cf591bf0a6bfc00f2862e95.jpg" alt="Компьютер под игру Warface" title="Компьютер под игру Warface" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Warface</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="912" id="bx_3218110189_912">
                        <a href="/game/overwatch/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/9da/320_424_1/9da35525782c1c05febd295dc548e0c8.jpg" alt="Компьютер под игру Overwatch" title="Компьютер под игру Overwatch" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Overwatch</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li games__li--big" data-id="913" id="bx_3218110189_913">
                        <a href="/game/world-of-warcraft/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/iblock/749/74931d17ec26aa0a1e73911e1c094f8b.jpg" alt="Компьютер под игру World of Warcraft" title="Компьютер под игру World of Warcraft" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">World of Warcraft</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li games__li--big" data-id="914" id="bx_3218110189_914">
                        <a href="/game/apex-legends/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/iblock/7e7/7e7bdcec06914908d87d9cc378d8a3da.jpg" alt="Компьютер под игру Apex Legends" title="Компьютер под игру Apex Legends" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Apex Legends</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="33947" id="bx_3218110189_33947">
                        <a href="/game/escape-from-tarkov/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/a46/320_424_1/2fxququl7oenr617w5a0qvcn57hv6wql.jpg" alt="Компьютер под игру Escape from Tarkov" title="Компьютер под игру Escape from Tarkov"
                                    class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Escape from Tarkov</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 100 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="41407" id="bx_3218110189_41407">
                        <a href="/game/dying-light-2/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/79e/320_424_1/nsje4v95yt1n8m6mweg1ja4q96x4nfon.jpg" alt="Компьютер под игру Dying Light 2" title="Компьютер под игру Dying Light 2"
                                    class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Dying Light 2</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 90 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="games__li " data-id="41486" id="bx_3218110189_41486">
                        <a href="/game/elden-ring/" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/resize_cache/iblock/178/320_424_1/y0hb933dsb65kmaotaq9qwwxb6nv1lrz.jpg" alt="Компьютер под игру Elden Ring" title="Компьютер под игру Elden Ring" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">Elden Ring</p>

                                    <p class="games__li-big-price">
                                        <span class="games__li-big-price-span"><span class="games__li-price-span-desc">Мин. комплектация</span> от 90 000</span>
                                        <img src="/local/templates/main/img/icon/rub.svg" class="games__li-big-price-icon" alt="Национальная валюта рубли">
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br> 
</main>


{% endblock %}












