{% extends 'base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript" data-skip-moving="true">
    (function(w, d, n) {

        var cl = "bx-core";
        var ht = d.documentElement;
        var htc = ht ? ht.className : undefined;
        if (htc === undefined || htc.indexOf(cl) !== -1) {
            return;
        }

        var ua = n.userAgent;
        if (/(iPad;)|(iPhone;)/i.test(ua)) {
            cl += " bx-ios";
        } else if (/Android/i.test(ua)) {
            cl += " bx-android";
        }

        cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch");

        cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ?
            " bx-retina" :
            " bx-no-retina";

        var ieVersion = -1;
        if (/AppleWebKit/.test(ua)) {
            cl += " bx-chrome";
        } else if ((ieVersion = getIeVersion()) > 0) {
            cl += " bx-ie bx-ie" + ieVersion;
            if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) {
                cl += " bx-quirks";
            }
        } else if (/Opera/.test(ua)) {
            cl += " bx-opera";
        } else if (/Gecko/.test(ua)) {
            cl += " bx-firefox";
        }

        if (/Macintosh/i.test(ua)) {
            cl += " bx-mac";
        }

        ht.className = htc ? htc + " " + cl : cl;

        function isDoctype() {
            if (d.compatMode) {
                return d.compatMode == "CSS1Compat";
            }

            return d.documentElement && d.documentElement.clientHeight;
        }

        function getIeVersion() {
            if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) {
                return -1;
            }

            var rv = -1;
            if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) {
                rv = 11;
            } else if (!!d.documentMode && d.documentMode >= 10) {
                rv = 10;
            } else if (!!d.documentMode && d.documentMode >= 9) {
                rv = 9;
            } else if (d.attachEvent && !/Opera/.test(ua)) {
                rv = 8;
            }

            if (rv == -1 || rv == 8) {
                var re;
                if (n.appName == "Microsoft Internet Explorer") {
                    re = new RegExp("MSIE ([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                } else if (n.appName == "Netscape") {
                    rv = 11;
                    re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                }
            }

            return rv;
        }

    })(window, document, navigator);
</script>

<main class="page__main">
    <div class="title-page">
        <div class="breadcrumps" itemprop="http://schema.org/breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <div class="breadcrumps__inner inner">
                <div class="breadcrumps__wrapper">
                    <a href="/" class="breadcrumps__link" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <link itemprop="item" href="https://edelws.ru/">
                        <meta itemprop="position" content="1" />
                        <meta itemprop="name" content="производство компьютеров" />
                        <svg class="breadcrumps__link-icon" width="14" height="12">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-home"></use>
        </svg>
                    </a><span class="breadcrumps__text" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<link itemprop="item" href="https://edelws.ru/game/">
        <meta itemprop="position" content="2" />
        <meta itemprop="name" content="Компьютеры под игру, геймерские ПК оптимизированные под проекты AAA"/>
Компьютеры под игру, геймерские ПК оптимизированные под проекты AAA</span></div>
            </div>
        </div>
        <div class="title-page__bg game-1">
            <picture>
                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/uf/6fe/6fe156668e2a6d90702235455f62972d.png" alt="компьютеры для игр выбранных пользователем" class="lazzyload title-page__bg-img">
            </picture>
        </div>
        <div class="title-page__inner inner">
            <div class="title-page__wrapp">
                <h1 class="title-page__h1">Компьютеры под игру</h1>
                <p class="title-page__text">Выберите любимую игру, а мы предложим вам вариант сборки оптимизированный под конкретный проект AAA. Понимая особенности геймплея, разрешение монитора, требования игры. Вы получите качественную станцию с оптимальными характеристиками,
                    учитывая ваши финасовые возможности.</p>
                <div class="title-page__hidd">
                    <h2>ПК под любимую игру</h2>
                    <p>
                        Компьютерные игры развиваются со скоростью стремительного водопада или горной лавины. В эту популярную сферу развлечений вовлечены уже миллионы людей во всем мире. И количество любителей виртуальных баталий только нарастает. А ведь полстолетия назад многие
                        из нас даже не слышали о таких программах. Да и сами игры были достаточно примитивными, еще не набрали солидной мышечной массы.
                    </p>
                    <p>
                        Мощный импульс для развития они получили в девяностые годы прошлого века, когда стали трехмерными. Реалистичная графика способствовала появлению новых игровых жанров. Появились шутеры от первого лица (Doom) и стратегии в реальном времени (Dune II). В
                        XXI веке трехмерная графика достигла невероятно широкого распространения, а компьютерные игры приобрели массовый характер. Ими стали увлекаться люди всех возрастов и профессий. Такому невероятному буму способствовало быстрое
                        развитие интернета и социальных сетей.
                    </p>
                    <p>
                        Сегодня игры класса ААА, требующие от разработчиков колоссальных бюджетных затрат, стремительно захватывают рынок, будоражат сердца поклонников. Естественно, что под их футуристические задачи нужны мощные игровые ПК.
                    </p>
                    <h3>Варианты от экспертов</h3>
                    <p>
                        На этой странице вы можете подобрать игровой ПК под самые популярные компьютерные игры:
                    </p>
                    <ul>
                        <li>Cyberpunk 2077;</li>
                        <li>PUBG;</li>
                        <li>World of Tanks;</li>
                        <li>DOTA 2;</li>
                        <li>Minecraft;</li>
                        <li>Fortnite и многие другие.</li>
                    </ul>
                    <p>
                        Сам процесс простой и приятный: выбираете игру и сразу получаете список компьютеров, которые рекомендуют специалисты EDELWEISS.
                    </p>
                    <p>
                        Например, вы являетесь страстным поклонником онлайн-шутера Warface, поэтому под любимую игру желаете купить соответствующий ПК. Поскольку в этой игре вас ждет много ярких сражений, потребуется видеокарта экстра-класса. Желательно, не слабее GeForce RTX
                        3070. Процессор Intel Core i5 с задачами справится, но лучше взять классом выше. Рекомендуемый жесткий диск – 2 Тб Western Digita. И так по всем основным компонентам.
                    </p>
                    <p>
                        Вы можете воспользоваться и конфигуратором сайта, но быстрее и удобнее заказать готовую сборку, которую тщательно подобрали наши эксперты.
                    </p>
                    <p>
                        Так, под игру Warface они предлагают следующие модели:
                    </p>
                    <ul>
                        <li>EDELWEISS VILLAIN – 53 380 рублей;</li>
                        <li>EDELWEISS CS:GO – 85 150 рублей;</li>
                        <li>EDELWEISS ZVEROBOY – 102 340 рублей;</li>
                        <li>EDELWEISS ARMOR – 134 980 рублей.</li>
                    </ul>
                    <p>
                        Как видите, цены на машины значительно разнятся, поскольку мы стараемся учитывать материальные возможности каждого геймера.
                    </p>
                    <h3>Наши принципы</h3>
                    <p>
                        Такой же алгоритм выбора ПК заложен под каждую игру. Поэтому, если вы страстный поклонник конкретного шутера или симулятора, этот раздел для вас. Естественно, что любой компьютер, который вы приобретете в студии EDELWEISS, верно будет служить вам и в
                        других сражениях.
                    </p>
                    <p>
                        Что касается наших принципов при выборе игрового ПК, то всегда советуем приобретать железо на перспективу, с запасом. Во-первых, вы сразу почувствуете прелесть игры за лучшим современным компьютером. Во-вторых, не станете заморачиваться по поводу апгрейда
                        или новой машины лет 5-7. В-третьих, сэкономите свои деньги.
                    </p>
                    <p>
                        Это действительно так, поскольку ваши инновационные вложения будут работать гораздо дольше обычных. Вспомните известный афоризм Ротшильда: «Я не настолько богат, чтобы покупать дешевые вещи».
                    </p>
                    <p>
                        Успешных вам сражений с компьютерами от EDELWEISS!
                    </p>
                </div>
                <a href="javascript:void(0)" class="btn btn--type-1 title-page__btn js-title-page" data-close="свернуть" data-open="узнать больше">узнать больше</a>
            </div>
        </div>
    </div>
    <div class="features ">
        <div class="features__inner inner">
            <div class="features__wrapper">
                <h4 class="features__title">Настольные ПК для современных игровых приложений</h4>
                <ul class="features__list">
                    <li class="features__li">
                        <i class="features__star" style="background-image: url('{% static 'public/img/icon/star.svg' %}');"></i>
                        <p class="features__text">Продажа компьютеров для игр Pubg, CS:GO, Minecraft, Fortnite, GTA5 от EDELWEISS</p>
                    </li>
                    <li class="features__li">
                        <i class="features__star" style="background-image: url('{% static 'public/img/icon/star.svg' %}');"></i>
                        <p class="features__text">Подбор геймерского компьютера под параметры современных ресурсоёмких игр</p>
                    </li>
                    <li class="features__li">
                        <i class="features__star" style="background-image: url('{% static 'public/img/icon/star.svg' %}');"></i>
                        <p class="features__text">Мощные графические видеокарты, реализация максимального FPS, философия настоящего гейминга</p>
                    </li>
                </ul>
                <div class="features__img-box">
                    <picture>
                        <img src="/upload/uf/638/638758ed7980d5cbe7cce2ba1797403b.png" alt="" class="features__img">
                    </picture>
                </div>

            </div>
        </div>
    </div>
    <div class="games">
        <div class="games__inner inner">
            <div class="games__wrapper">
                <ul class="games__list">

                    {% for game in games|slice:"0:2" %}

                    <li class="games__li games__li--big" data-id="901" id="bx_3218110189_901">
                        <a href="{% url 'core:game-product' game.slug %}" class="games__li-link">
                            <picture class="games__li-img-picture">
                                <img src="/media/{{game.image}}" alt="Компьютер под игру Cyberpunk 2077" title="Компьютер под игру Cyberpunk 2077" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">{{game.title}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    
                    {% for game in games|slice:"2:6" %}
                    <li class="games__li " data-id="903" id="bx_3218110189_903">
                        <a href="{% url 'core:game-product' game.slug %}" class="games__li-link">
                            <picture class="games__li-img-picture">
                                <img src="/media/{{game.image}}" alt="Компьютер под игру Cyberpunk 2077" title="Компьютер под игру Cyberpunk 2077" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">{{game.title}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    

                    {% for game in games|slice:"6:8" %}
                    <li class="games__li games__li--big" data-id="907" id="bx_3218110189_907">
                        <a href="{% url 'core:game-product' game.slug %}" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img src="/media/{{game.image}}" alt="Компьютер под игру Cyberpunk 2077" title="Компьютер под игру Cyberpunk 2077" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">{{game.title}}</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                    
                    {% for game in games|slice:"8:" %}
                    <li class="games__li " data-id="909" id="bx_3218110189_909">
                        <a href="{% url 'core:game-product' game.slug %}" class="games__li-link">
                            <div class="games__li-view hide">0</div>
                            <picture class="games__li-img-picture">
                                <img src="/media/{{game.image}}" alt="Компьютер под игру Cyberpunk 2077" title="Компьютер под игру Cyberpunk 2077" class="lazzyload games__li-img lazyload">
                            </picture>

                            <div class="games__li-box-big">
                                <div class="games__li-box-big-content">
                                    <p class="games__li-name">{{game.title}}</p>

                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}



                    
                </ul>
            </div>
        </div>
    </div>
    <br> 
</main>


{% endblock %}












