{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page__main">
  <div class="title-page">
    <div
      class="breadcrumps"
      itemprop="http://schema.org/breadcrumb"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <div class="breadcrumps__inner inner">
        <div class="breadcrumps__wrapper">
          <a
            href="/"
            class="breadcrumps__link"
            itemprop="itemListElement"
            itemscope=""
            itemtype="http://schema.org/ListItem"
          >
            <link itemprop="item" href="https://edelws.ru/" />
            <meta itemprop="position" content="1" />
            <meta itemprop="name" content="производство компьютеров" />
            <svg class="breadcrumps__link-icon" width="14" height="12">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/local/templates/main/img/sprite.svg#icon-home"
              ></use>
            </svg> </a
          ><span
            class="breadcrumps__text"
            itemprop="itemListElement"
            itemscope=""
            itemtype="http://schema.org/ListItem"
          >
            <link itemprop="item" href="https://edelws.ru/reviews/" />
            <meta itemprop="position" content="2" />
            <meta itemprop="name" content="Отзывы клиентов о нашей работе" />
            Rəylər</span
          >
        </div>
      </div>
    </div>
    <div class="title-page__bg game-1">
      <picture>
        <img
          srcset="
            https://edelws.ru/upload/uf/0c7/0c7b1d9c128122886140489168487a9d.png
          "
          src="/upload/uf/0c7/0c7b1d9c128122886140489168487a9d.png"
          alt=""
          class="title-page__bg-img waitlazzyload lazyloaded"
        />
      </picture>
    </div>
    <div class="title-page__inner inner">
      <div class="title-page__wrapp">
        <h1 class="title-page__h1">Rəylər</h1>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="about__inner inner">
      <div class="tabs-ajax">
        <div class="tabs-ajax__inner">
          <ul
            itemscope=""
            itemtype="http://www.schema.org/SiteNavigationElement"
            class="tabs-ajax__list column-desc-3 column-phablet-3"
          >
            <li class="tabs-ajax__li col">
              <a
                itemprop="url"
                href="{% url 'core:about' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-12.png"
              >
                <svg class="tabs-ajax__icon" width="12" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-periphery"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">Haqqımızda</span>
              </a>
            </li>
            <li class="tabs-ajax__li col">
              <a
                itemprop="url"
                href="{% url 'core:faq' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-11.png"
              >
                <svg class="tabs-ajax__icon" width="15" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-assembly"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">FAQ</span>
              </a>
            </li>
            <li class="tabs-ajax__li col _active">
              <a
                itemprop="url"
                href="{% url 'core:reviews' %}"
                class="tabs-ajax__link"
                data-img="/local/templates/main/img/img-title-13.png"
              >
                <svg class="tabs-ajax__icon" width="15" height="13">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/local/templates/main/img/sprite.svg#icon-assembly"
                  ></use>
                </svg>
                <span class="tabs-ajax__text" itemprop="name">Rəylər</span>
              </a>
            </li>
          </ul>
          <select
            class="select-box tabs-ajax__select select2-hidden-accessible"
            data-select2-id="1"
            tabindex="-1"
            aria-hidden="true"
          >
            <option value="0">О компании</option>
            <option value="1">FAQ</option>
            <option value="2" selected="" data-select2-id="3">
              Отзывы
            </option></select
          ><span
            class="select2 select2-container select2-container--default"
            dir="ltr"
            data-select2-id="2"
            style="width: 93.5px"
            ><span class="selection"
              ><span
                class="select2-selection select2-selection--single"
                role="combobox"
                aria-haspopup="true"
                aria-expanded="false"
                tabindex="0"
                aria-disabled="false"
                aria-labelledby="select2-ep7x-container"
                ><span
                  class="select2-selection__rendered"
                  id="select2-ep7x-container"
                  role="textbox"
                  aria-readonly="true"
                  title="Отзывы"
                  >Отзывы</span
                ><span class="select2-selection__arrow" role="presentation"
                  ><b role="presentation"></b></span></span></span
            ><span class="dropdown-wrapper" aria-hidden="true"></span
          ></span>
        </div>
      </div>
      <div class="about__content load_more_items_wrapper">
        <div class="about__reviews load_more_items_container">
          {% for review in reviews %}
          <div class="load_more_item main-reviews" id="bx_3218110189_40354">
            <div class="name-customer">{{review.author_name}}</div>

            <div class="info-review">
              <div class="review-rating-genaral">
                <div class="rating-stars">
                  <i class="rating-stars_item"></i
                  ><i class="rating-stars_item"></i
                  ><i class="rating-stars_item"></i
                  ><i class="rating-stars_item"></i
                  ><i class="rating-stars_item"></i>
                </div>
                
              </div>
            </div>
            <div class="comment-review">
              <div class="comment-review-title">Rəylər</div>
              <div class="comment-review-main">
                {{review.comments}}
              </div>
            </div>

            <div class="info-block-last">
              <div class="info-second-review">{{review.created_at}}</div>
            </div>
          </div>
          {% endfor %}
          
          
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
