{% extends 'base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript" data-skip-moving="true">
    (function(w, d, n) {

        var cl = "bx-core";
        var ht = d.documentElement;
        var htc = ht ? ht.className : undefined;
        if (htc === undefined || htc.indexOf(cl) !== -1) {
            return;
        }

        var ua = n.userAgent;
        if (/(iPad;)|(iPhone;)/i.test(ua)) {
            cl += " bx-ios";
        } else if (/Android/i.test(ua)) {
            cl += " bx-android";
        }

        cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch");

        cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ?
            " bx-retina" :
            " bx-no-retina";

        var ieVersion = -1;
        if (/AppleWebKit/.test(ua)) {
            cl += " bx-chrome";
        } else if ((ieVersion = getIeVersion()) > 0) {
            cl += " bx-ie bx-ie" + ieVersion;
            if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) {
                cl += " bx-quirks";
            }
        } else if (/Opera/.test(ua)) {
            cl += " bx-opera";
        } else if (/Gecko/.test(ua)) {
            cl += " bx-firefox";
        }

        if (/Macintosh/i.test(ua)) {
            cl += " bx-mac";
        }

        ht.className = htc ? htc + " " + cl : cl;

        function isDoctype() {
            if (d.compatMode) {
                return d.compatMode == "CSS1Compat";
            }

            return d.documentElement && d.documentElement.clientHeight;
        }

        function getIeVersion() {
            if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) {
                return -1;
            }

            var rv = -1;
            if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) {
                rv = 11;
            } else if (!!d.documentMode && d.documentMode >= 10) {
                rv = 10;
            } else if (!!d.documentMode && d.documentMode >= 9) {
                rv = 9;
            } else if (d.attachEvent && !/Opera/.test(ua)) {
                rv = 8;
            }

            if (rv == -1 || rv == 8) {
                var re;
                if (n.appName == "Microsoft Internet Explorer") {
                    re = new RegExp("MSIE ([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                } else if (n.appName == "Netscape") {
                    rv = 11;
                    re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)");
                    if (re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                }
            }

            return rv;
        }

    })(window, document, navigator);
</script>



<main class="page__main">
    <div class="title-page">
        <div class="breadcrumps" itemprop="http://schema.org/breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <div class="breadcrumps__inner inner">
                <div class="breadcrumps__wrapper">
                    <a href="/" class="breadcrumps__link" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <link itemprop="item" href="https://edelws.ru/">
                        <meta itemprop="position" content="1" />
                        <meta itemprop="name" content="производство компьютеров" />
                        <svg class="breadcrumps__link-icon" width="14" height="12">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-home"></use>
        </svg>
                    </a><span class="breadcrumps__text" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<link itemprop="item" href="https://edelws.ru/support/">
        <meta itemprop="position" content="2" />
        <meta itemprop="name" content="Тех. поддержка"/>
            Dəstək</span></div>
            </div>
        </div>
        <div class="title-page__bg game-1">
            <picture>
                <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="/upload/uf/f23/f232d4168a59c193d939cbd6781d3bfa.png" alt="" class="lazzyload title-page__bg-img">
            </picture>
        </div>
        <div class="title-page__inner inner">
            <div class="title-page__wrapp">
                <h1 class="title-page__h1">Техническая поддержка клиентов</h1>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about__inner inner">


            <div class="tabs-ajax">
                <div class="tabs-ajax__inner">
                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="tabs-ajax__list column-desc-3 column-phablet-3">
                        <li class="tabs-ajax__li col ">
                            <a itemprop="url" href="{% url 'core:delivery' %}" class="tabs-ajax__link" data-img="/local/templates/main/img/img-title-11.png">
                                                    <svg class="tabs-ajax__icon" width="15" height="13">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-assembly"></use>
                        </svg>
                                                    <span class="tabs-ajax__text" itemprop="name">Çatdırılma</span>
                </a>
                        </li>
                        <li class="tabs-ajax__li col _active">
                            <a itemprop="url" href="{% url 'core:support' %}" class="tabs-ajax__link" data-img="/local/templates/main/img/img-title-12.png">
                                                    <svg class="tabs-ajax__icon" width="12" height="13">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-periphery"></use>
                        </svg>
                                                    <span class="tabs-ajax__text" itemprop="name">Dəstək</span>
                </a>
                        </li>
                        <li class="tabs-ajax__li col ">
                            <a itemprop="url" href="{% url 'core:guaranty' %}" class="tabs-ajax__link" data-img="/local/templates/main/img/img-title-14.png">
                                                    <svg class="tabs-ajax__icon" width="12" height="13">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/templates/main/img/sprite.svg#icon-periphery"></use>
                        </svg>
                                                    <span class="tabs-ajax__text" itemprop="name">Qarantiya</span>
                </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="about__content">
                <div class="about__content-img-box">
                    <img src="https://wallpaperaccess.com/full/6910723.jpg" alt="техническая поддержка клиентов интернет магазина игровых компьютеров EDELWEISS" class="about__content-img-big lazzyload">
                </div>
                <h2>Служба поддержки клиентов</h2>
                <p>
                    Специалисты компании EDELWEISS стремится обеспечить своим клиентам услуги наивысшего качества. Вы можете получить квалифицированную помощь в режиме реального времени любым удобным для вас способом.
                </p>
                <p>
                    Если в процессе эксплуатации игрового ПК EDELWEISS у вас возник вопрос, мы всегда готовы ответить на них. При необходимости можно организовать сеанс удаленного доступа к вашему Пк для решения возникшей проблемы.
                </p>
                <ul>
                    <li>Телефон: +7 (495) 999-48-56;</li>
                    <li>Электронная почта: <a href="mailto:info@edelws.ru">info@edelws.ru</a>;</li>
                    <li>VK: <a href="https://vk.com/edelws_ru_pc_game">https://vk.com/edelws_ru_pc_game</a>;</li>
                    <li>Telegram: <a href="https://t.me/edelweisspc">https://t.me/edelweisspc</a>;</li>
                    <li>WhatsApp: +7 (919) 994-70-83. </li>
                </ul>
            </div>
        </div>
    </div>
</main>



{% endblock %}












